* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
  font-family: 'Press Start 2P', cursive;
}

header {
  margin: 20px;
}

#between {
  float: right;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  padding: 20px 30px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.question-mark {
  background: rgb(238, 238, 238);
  text-align: center;
  width: 200px;
  color: rgb(34, 34, 34);
  height: 150px;
  font-size: 70px;
  padding-top: 50px;
  margin: auto;
}

.question-mark:hover {
  background: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
}

h1 {
  margin: 30px 10px;
  font-size: 2.2em;
  text-align: center;
}

.left {
  width: 50%;
  float: left;
  align-items: center;
  margin-top: 50px;
}

.guess {
  display: block;
  border: 5px solid rgb(238, 238, 238);
  /* background: rgb(34, 34, 34); */
  color: inherit;
  font-size: 2.5em;
  font-family: inherit;
  background-color: inherit;
  text-align: center;
  width: 200px;
  height: 120px;
  margin-bottom: 20px;
  margin: auto;
  padding-right: 10px;
  padding-left: 20px;
}

.right {
  width: 50%;
  float: right;
  font-size: 1.3em;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.btn.check {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.message {
  margin-bottom: 100px;
}

.label-score {
  margin-bottom: 30px;
}

.quiz-mark-line {
  border: 5px solid;
  color: inherit;
}

.btn:hover {
  background-color: #2d0fd4; /* Green */
  color: white;
}

.btn.check:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
